version: 2
updates:
  # https://docs.astral.sh/uv/guides/integration/dependency-bots/#dependabot
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
