name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Checks (py${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # https://docs.astral.sh/uv/guides/integration/github/#using-uv-in-github-actions
      - name: Install uv and Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync locked --all-extras --dev

      - name: Check Python formatting
        run: uv run --dev ruff format --check src/ tests/

      - name: Lint
        run: uv run --dev ruff check src/ tests/

      - name: Typecheck
        run: uv run --dev ty check --output-format github src/ tests/

      - name: Run tests
        run: uv run --dev pytest tests/
